/* Score Counter ƒAƒvƒŠ‚ÌˆÊ’uî•ñˆê——‰æ–Ê‚ÌCSS */
.map-embed {
	max-width: 100%;
	height: 0;
	margin: 0;
	padding: 0 0 56.25%;
	overflow: hidden;
	position: relative;
	top: 0;
	left: 0;
}

.map-embed>div {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
}

.map-embed img {
	max-width: none;
}

span.hole-spin {
	font-size: x-large;
	font-weight: bold;
	color: #337ab7;
	cursor: pointer;
	cursor: hand;
}